
.image-button {
    background: transparent;
    border: none;
    box-shadow: none;
    outline: none;
    padding: 0;
}
/* Aurynk GTK custom styles */

.clickable-image {
    transition: all 150ms ease;
}
.hovered-image {
    transform: scale(1.15);
}

.qr-image {
    border-radius: 16px;
}